@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
:root{
    --fonte-destaque: 'Nosifer', cursive;
    --fonte-padrao: 'arial',sans-serif;
    --fonte-subtitulo: 'Righteous', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    
}
body,html{
    font-family: var(--fonte-padrao);
    overflow-y: hidden;

}
body{
    background:rgba(0, 0, 0, 0.748) url(halloween-candy-getty-0919.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    height: 100vh;
    background-blend-mode: darken;
}
.titulo{
    text-align: center;
    font-family: var(--fonte-destaque);
    padding: 10px;
    font-size: 2.5em;
    color: rgb(160, 0, 253);
    
    
    
}
form{
    display: flex;
    justify-content: center;
}
input#button{
    width: 100px;
    height: 30px;
    background-color: rgba(68, 12, 189, 0.809);
    border-radius: 10px;
    border: 2px solid rgb(108, 41, 253); 
    margin-left: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;

}
form p{
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 20px;
    
}
input#pesquisar{
    height: 25px;
    width: 200px;
    font-size: 1em;
    font-family: var(--fonte-subtitulo);
    border-radius: 10px;
    padding-left: 14px;
    border: 2px solid rgb(108, 41, 253);
}
.titulo  sub{
    color: rgb(24, 24, 24);
    text-shadow: none;
}
span#my-titulo{
    color: orange;
    
}
section.saldo{
    position: absolute;
    right: 0px;
    text-align: right;
    background-color: rgba(68, 12, 189, 0.809);
    color: white;
    font-weight: bolder;
    border: 2px solid rgb(108, 41, 253);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    
}
section.saldo span{
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
    padding: 5px;
}
.flex-cartas{
    display: flex;
    height: 80vh;
    

    align-items: center;
    justify-content: space-around;

}
.item-carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 290px;
    margin-bottom: 15px;
    flex: 0 1 25%;
    box-shadow: 0px 8px 30px rgba(255, 68, 0, 0.69);
    background-color: rgba(255, 60, 0, 0.626);;
    border-radius: 15px;
    color: white;
    margin-right: 14px;
    padding: 10px;
}
.subtitulo-carta{
    font-size: 1.3em;
    text-transform: capitalize;
    text-align: center;
    font-family: var(--fonte-subtitulo);
    margin-bottom: 20px;
    background-color: rgb(241, 88, 0);
    width: 100%;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin: -10px;
    letter-spacing: 2px;
}
.foto-bala{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}
.foto-bala img{
    filter: drop-shadow(10px 5px 5px rgba(34, 34, 34, 0.89));
    width: 100px;
    height: 100px;
}
.valor{
    transform: translateY(20px);
}
.valor p{
    background-color: rgba(68, 12, 189, 0.809);
    color: white;
    font-weight: bolder;
    padding: 13px;
    border-radius: 10px;
    border: 2px solid rgb(108, 41, 253);
}
.valor > p > span{
    background-color: rgb(92, 92, 92);
    border-radius: 10px;
    padding: 8px;
}
button.botao{
    margin-top: 35px;
    padding: 12px;
    color: rgb(45, 45, 45);
    font-size: 1.1em;
    text-transform: uppercase;
    border-radius: 15px;
    border: 2px solid rgb(245, 200, 0);
    background-color: rgb(246, 255, 0);
    font-weight: bold;
    
}
button:hover{
    transform: translate(0px, -5px);
    color: rgb(255, 145, 0);
    transition: transform 0.5s ease;
}

